@import "src/styles.scss";

.titulo {
  color: $cinza-7;
  font-size: $font-tamanho-4;
}

.btn {
  padding: 0 0 0 10px;
  color: $cinza-7;

  .fa-search {
    color: $branco-1;
  }

  .fa-search:hover {
    color: $cinza-6;
  }
}

.btn:hover {
  color: $cinza-6;
}