<div class="row">
  <div class="col">
    <span class="titulo">
      <b>{{"produtos" | uppercase }}</b>
    </span>
    <button type="button" class="btn">
      <span class="fas fa-search"></span>
    </button>
  </div>
  <div class="col text-right">
    <button type="button" class="btn">
      <span class="fas fa-list"></span>
    </button>
    <button type="button" class="btn">
      <span class="far fa-window-maximize"></span>
    </button>
    <button type="button" class="btn">
      <span class="fas fa-chevron-down"></span>
    </button>
  </div>
</div>
