<div class="row">
  <span class="col">
    {{"produtos" | uppercase }}
  </span>
  <button type="button" class="btn btn-link col">
    <span class="fas fa-search"></span>
  </button>
  <button type="button" class="btn btn-link col">
    <span class="fas fa-list"></span>
  </button>
  <button type="button" class="btn btn-link col">
    <span class="far fa-window-maximize"></span>
  </button>
  <button type="button" class="btn btn-link col">
    <span class="fas fa-chevron-down"></span>
  </button>
</div>
