@import "src/styles";

.card {
  border-left-width: 6px;

  .card-header {
    background: $branco-1;
    color: $preto-1;
    font-size: $font-tamanho-5;

    .fa-info-circle {
      @include active($cinza-3);
      color: $branco-1;
    }

    .fa-info-circle:hover {
      @include tipo($cinza-3);
    }
  }

  .card-body {
    background: $branco-1;
    color: $cinza-2;
    font-size: $font-tamanho-3;
  }

  .card-footer {
    background: $branco-1;
    font-size: $font-tamanho-3;
  }

  .em-estoque {
    color: $verde-2;
  }

  .pouco-estoque {
    color: $amarelo;
  }

  .em-falta {
    color: $vermelho-1;
  }
}

.card:hover {
  background: $branco-1!important;
}