@import "src/styles";

.fa-user-circle {
  color: $vinho-1;
  font-size: $font-tamanho-5 * 2;
}

.progress {
  background: $branco-1 !important;

  .progress-bar {
    background: $verde-1 !important;
  }
}